{% extends "base.html" %}

{% block title %}Scroll | Chat{% endblock title %}

{% block body %}
  
    <div class="w-full h-dvh flex flex-col justify-between">

        <div class="w-full min-h-[60px] space-x-5 px-5 flex items-center border-b border-[#262626] max-md:px-3">
            <a href="{% url 'lobby' %}" class="hidden max-md:block" id="go_lobby"><i class="fa-solid fa-arrow-left text-xl"></i></a>

          <a href="/users/{{send_to_user.username}}" class="flex items-center !ml-0 space-x-3  max-md:!ml-5">
            <img class="w-12 h-12 rounded-full object-cover border border-[#262626]" {% if profile_pic.exist %}
                src="{{profile_pic.file.url}}" {% else %} src="/static/{{profile_pic.file}}" {% endif %} alt="">
            
            <div class="text-sm">
                <b>{{username}}</b>
                <p id="typing_element" class="hidden text-gray-500">typing...</p>
            </div>
          </a>
        </div>

        <div class="mt-auto overflow-y-auto scrollbar">
            <div id="chat_container" class="w-full p-5 space-y-1 flex flex-col">

                {% for chat in chats %}
                    {% if not chat.is_unread %}
                        {% if chat.sender == user %}
                            <p class="w-fit max-w-[30%] py-1 px-2 self-end bg-white text-black break-words rounded-md rounded-tr-none max-md:max-w-[75%]">{{chat.message}}</p>
                        {% else %}
                            <p class="w-fit max-w-[30%] py-1 px-2 bg-white text-black break-words rounded-md rounded-tl-none max-md:max-w-[75%]">{{chat.message}}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <div id="unread_chat_below" class="!m-0"></div>

                {% for chat in chats %}
                    {% if chat.is_unread %}
                        {% if chat.sender == user %}
                            <p class="w-fit max-w-[30%] py-1 px-2 self-end bg-white text-black break-words rounded-md rounded-tr-none max-md:max-w-[75%]">{{chat.message}}</p>
                        {% else %}
                            <p class="w-fit max-w-[30%] py-1 px-2 bg-white text-black break-words rounded-md rounded-tl-none max-md:max-w-[75%]">{{chat.message}}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>

            <div id="scroll_to_view" class="!m-0"></div>
        </div>


        <form onsubmit="handelSubmit(event)" class="w-full min-h-[60px] flex space-x-5 px-3 mb-3 max-md:space-x-2 max-md:px-2 " autocomplete="off">
            <input onkeydown="isTyping()" autofocus type="text" class="w-full h-full p-4 bg-transparent border rounded-lg focus:outline-0 " placeholder="Enter something">
            <button class="w-[10%] p-3  bg-white text-black text-xl font-semibold rounded-lg cursor-pointer hover:opacity-90 max-md:w-[30%]">Send</button>
        </form>
    </div>

{% endblock body %}

{% block scripts %}

<script>

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    async function sendChat(message) {

        let res = await fetch('{% url "add_messages" %}', {
            method: 'POST',
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "Content-Type": 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({
                "message": message,
                "receiver": '{{send_to_user.id}}',
                "room_id": '{{room_id}}'
            })
        });
        res = await res.json();
        return res

    }

    async function handelSubmit(e) {
        e.preventDefault();
        const input = document.querySelector('input');

        if (input.value.trim().length > 0) {
            const res = await sendChat(input.value)
            if (res.status === 200) {
                if (socket.connected) {
                    if('{{is_first_time}}' === 'True'){
                        console.log('True');
                        socket.emit('message', { message: input.value, message_id: res.message_id, roomId: '{{room_id}}', userId: '{{send_to_user.id}}' });
                    }
                    else{
                        socket.emit('message', { message: input.value, message_id: res.message_id, roomId: '{{room_id}}' });
                    }
                    input.value = '';
                    input.focus();
                }
                else {
                    alert('Something went wrong\nwhat you can do:\n1.Check your internet connection\n2.Try reloading the page');
                }

            }
            else {
                alert('Something went wrong');
            }

        }

    }

    function isTyping() {
        socket.emit('typing', { roomId: '{{room_id}}'});
    }

    document.getElementById('widget_top_nav').style.display = 'none';
    document.getElementById('widget_bottom_nav').style.display = 'none';
    const unread_chat_below = document.getElementById('unread_chat_below');
    unread_chat_below.scrollIntoView(true);

    socket.on('connect',() =>{
        socket.emit('join_rooms', '{{room_id}}');
    });

    const chat_container = document.getElementById('chat_container');
    const scroll_to_view = document.getElementById('scroll_to_view');

    socket.on('message', async (data) => {
        const { message, id, roomId } = data;
        if (message && roomId === '{{room_id}}') {

            if (socket.id === id) {
                chat_container.innerHTML += `
                    <p class="w-fit max-w-[30%] py-1 px-2 self-end bg-white text-black break-words rounded-md rounded-tr-none max-md:max-w-[75%]">
                        ${message}
                    </p>
                    `;
                scroll_to_view.scrollIntoView(true);
            }
            else {
                document.getElementById('typing_element').style.display = 'none';

                chat_container.innerHTML += `
                    <p class="w-fit max-w-[30%] py-1 px-2 bg-white text-black break-words rounded-md rounded-tl-none max-md:max-w-[75%]">
                        ${message}
                    </p>
                        `;
                scroll_to_view.scrollIntoView(true);
                await fetch(window.location.origin + `/clear_notifications?room_id=${"{{room_id}}"}`);
            }
        }

    });

    let st;
  
    socket.on('typing', async (data) => {
        const { isTyping, roomId ,userId } = data;

        if (isTyping && roomId === '{{room_id}}' && userId !== socket.id) {
            st && clearTimeout(st);

            const typing_element = document.getElementById('typing_element');
            typing_element.style.display = 'block';

            st = setTimeout(function () {
                typing_element.style.display = 'none';
            }, 1500);

        }

    });

</script>

{% endblock scripts %}