{% extends "base.html" %}
{% load static %}

{% block title %}Scroll | {{username}}{% endblock title %}


{% block body %}

<div class="w-full h-fit py-[30px] flex justify-center">

    <div class="w-[950px] space-y-8">
        
        <header class="flex p-8 max-md:pb-5 max-md:mt-3">

            <div class="mr-[100px] max-md:mr-5">
                <img
                    class="w-[150px] h-[150px] bg-white rounded-full object-cover border border-[#262626] max-md:w-[70px] max-md:h-[70px] "
                    {% if profile_pic.exist %}
                        src="/uploads/{{profile_pic.file}}" 
                    {% else %}
                        src="/static/{{profile_pic.file}}" 
                    {% endif %}
                    alt=""
                >
                <p class="hidden text-center max-md:block">{{username}}</p>
            </div>

            <div class="h-fit p-5 space-y-5 max-md:space-y-[10px]">
                <div class="flex max-md:hidden">
                    <h1 class="text-xl mr-16">{{username}}</h1>
                    <div class="felx space-x-1">
                        <a href="{% url 'edit' %}" class="p-2 text-xs text-center bg-gray-500 rounded">Edit Profile</a>
                        <a href="{% url 'logout' %}" class="p-2 text-xs text-center bg-red-500 rounded">Logout</a>
                    </div>
                </div>

                <div class="space-x-5 flex max-sm:self-center">
                    <b class="">
                        {% if num_of_posts %}
                            {{num_of_posts}} posts
                        {% else %}
                            0 posts
                        {% endif %}
                    </b>
                    <b class="">
                        {% if num_of_followers %}
                            {{num_of_followers}} followers
                        {% else %}
                            0 followers
                        {% endif %}
                    </b>
                </div>

            </div>
            
        </header>

        <div class="hidden w-full px-3 !m-0 space-x-3 max-md:flex ">
            <a href="{% url 'edit' %}" class=" w-full p-2 text-xs text-center bg-gray-500 rounded">Edit Profile</a>
            <a href="{% url 'logout' %}" class=" w-full p-2 text-xs text-center bg-red-500 rounded">Logout</a>
        </div>


        <hr class="border-[#262626]">

        
        <div class="mx-5 flex flex-wrap gap-1">

            {% if not_found %}

                <div class="w-full max-md:text-sm">
                    <h1 class="text-center block text-gray-500">Share Photos</h1>
                    <p class="text-center block text-gray-500">When you share photos, they will appear on your profile.</p>
                </div> 
            
            {% else %}

                {% for post in data %}
                    <a href="/posts/{{post.post_id}}">
                        <img src="/uploads/{{post.file}}" class="w-[300px] h-[300px] object-cover max-md:w-[100px] max-md:h-[100px]" />
                    </a>
                {% endfor %}

            {% endif %}
        </div>
        
        
    </div>
    
</div>

{% endblock body %}