{% extends "base.html" %}
{% load static %}

{% block title %}Scroll | Search{% endblock title %}


{% block body %}

<div class="w-full h-fit py-16 flex justify-center">

    <div class="w-[500px] space-y-8 max-md:p-3 max-md:space-y-3">
        
        <form action="{% url 'search' %}" method="get" class="flex space-x-2">
            <input autofocus class="w-full h-full p-4 bg-transparent border rounded-lg focus:outline-0" type="text" placeholder="Search" name="q" id="search" required />
            <input type="submit" value="Search" class="p-3 bg-white text-black text-xl font-semibold rounded-lg cursor-pointer hover:opacity-90">
        </form>

        {% if not_found %}

            <h1 class="!mt-5 text-center text-gray-400" >No user found</h1>

        {% else %}

            <div class="space-y-3">

                {% for user in data %}

                    <a href="/users/{{user.username}}" class="w-full p-2 flex justify-between items-center hover:bg-[#1a1a1a] hover:cursor-pointer rounded-md">
                        <div class="flex items-center space-x-5">
                            <img 
                                class="w-12 h-12 rounded-full object-cover border border-[#262626]"
                                {% if user.profile_pic.exist %}
                                    src="/uploads/{{user.profile_pic.file}}"
                                {% else %}
                                    src="/static/{{user.profile_pic.file}}" 
                                {% endif %} 
                                alt=""
                            >
                        
                            <div class="text-sm">
                                <b>{{user.username}}</b>
                            </div>
                        </div>
                    </a>
            
                
                {% endfor %}

            </div>

        {% endif %}
        
    </div>
    
</div>

{% endblock body %}