{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll | {{username}}</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    {% include "components/Favicons.html" %}
</head>
<body class="bg-black text-white">

<div class="w-full h-fit py-[30px] flex justify-center">

    <div class="w-[950px] space-y-8 max-md:w-full">
        
        <header class="flex p-8 items-center max-md:pb-5 max-md:py-0">
            
            <img
                class="w-[150px] mr-[100px] h-[150px] bg-white rounded-full object-cover border border-[#262626] max-md:w-[70px] max-md:h-[70px] max-md:mr-5"
                {% if profile_pic.exist %}
                    src="/uploads/{{profile_pic.file}}" 
                {% else %}
                    src="/static/{{profile_pic.file}}" 
                {% endif %}
                alt=""
            >
                
            <div class="h-fit p-5 space-y-5 max-md:space-y-[10px]">
                <p>{{username}}</p>
            
                <div class="space-x-5 flex">
                    <b class="">
                        {% if num_of_posts %}
                            {{num_of_posts}} posts
                        {% else %}
                            0 posts
                        {% endif %}
                    </b>
                    <b class="" id="num_of_followers{{user_data.id}}">
                        {% if num_of_followers %}
                            {{num_of_followers}} followers
                        {% else %}
                            0 followers
                        {% endif %}
                    </b>
                </div>
            </div>

        </header>

        <div class="flex w-full px-3 !m-0 space-x-3">
            <a href="/chats/{{user_data.username}}" class="w-full p-2 text-center bg-gray-500 rounded max-md:text-xs">message</a>

            {% if is_following %}
                <button class="w-full p-2 bg-red-500 rounded max-md:text-xs" id="{{user_data.id}}" onclick="handelFollow(this)">unfollow</button>
            {% else %}
                <button class="w-full p-2 bg-blue-500 rounded max-md:text-xs" id="{{user_data.id}}" onclick="handelFollow(this)">follow</button>
            {% endif %}
        </div>

        <hr class="border-[#262626]">

        
        <div class="flex justify-center">

            <div class="w-[924px] flex flex-wrap gap-2 max-md:w-[324px]">

                {% if post_not_found %}

                    <div class="w-full max-md:text-sm">
                        <p class="text-center block text-gray-500">Looks like there is nothing to see here</p>
                    </div> 
                
                {% else %}

                    {% for post in post_data %}
                        <a href="/posts/{{post.post_id}}">
                            <img src="/uploads/{{post.file}}" class="w-[300px] h-[300px] object-cover max-md:w-[100px] max-md:h-[100px]" />
                        </a>
                    {% endfor %}

                {% endif %}
            </div>

        </div>
    
        
    </div>
    
</div>
    
    <script>

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        async function handelFollow(e) {

            try {
                let res = await fetch('{% url "follow" %}', {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Content-Type": 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        "user_id": e.id,
                    })

                });
                res = await res.json();

                const num_of_followers = document.getElementById('num_of_followers' + e.id);
                if (res.is_following == true) {
                    e.innerText = 'unfollow';
                    e.classList.remove('bg-blue-500');
                    e.classList.add('bg-red-500');
                    num_of_followers.innerText = res.current_followers + ' followers';
                }
                else {
                    e.innerText = 'follow';
                    e.classList.remove('bg-red-500');
                    e.classList.add('bg-blue-500');
                    num_of_followers.innerText = res.current_followers + ' followers';
                }
            } catch (error) {
                console.log(error);
            }

        }

    </script>

    

    {% comment %} <script src="{% static 'js/tailwindcdn.js' %}"></script> {% endcomment %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    {% include "components/Socket.html" %}

</body>
</html>