{% extends "base.html" %}

{% block title %}Scroll{% endblock title %}


{% block body %}

<div class="w-[70%] h-fit py-16 space-y-10 flex flex-col items-center ">

    <div class="space-y-2">
        <div class="flex items-center space-x-5">
            <img 
                class="w-12 h-12 rounded-full"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                alt=""
            >
            <b>{{username}}</b>
        </div>

        <img 
            class="w-[468px] h-[585px] !my-5 bg-slate-200 rounded-sm"
            src="https://th-thumbnailer.cdn-si-edu.com/3RQHyIdF6cCdAPoVL1NOZzyMCxY=/1000x750/filters:no_upscale():focal(594x274:595x275)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/95/db/95db799b-fddf-4fde-91f3-77024442b92d/egypt_kitty_social.jpg"
        />

        <div class="space-x-5">
            <a href=""><i class="fa-regular fa-heart text-2xl" ></i></a>
            <a href=""><i class="fa-regular fa-comment text-2xl" ></i></a>
            <a href=""><i class="fa-solid fa-share-nodes text-2xl" ></i></a>
        </div>
  
        <b class=" text-sm">{{100}} likes</b>
        
        <b class="w-[468px] text-sm block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eos est inventore nemo vitae iusto repellendus optio corrupti itaque ducimus, ratione perspiciatis corporis. Suscipit perspiciatis fuga nobis ullam hic perferendis!... <a href="#" class="text-gray-500">more</a></b>
     
        <hr class="!my-4 !mx-1 border-[#262626]"/>

    </div>
    

    <div class="space-y-2">
        <div class="flex items-center space-x-5">
            <img 
                class="w-12 h-12 rounded-full"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                alt=""
            >
            <b>{{username}}</b>
        </div>

        <img 
            class="w-[468px] h-[585px] !my-5 bg-slate-200 rounded-sm"
            src="https://th-thumbnailer.cdn-si-edu.com/3RQHyIdF6cCdAPoVL1NOZzyMCxY=/1000x750/filters:no_upscale():focal(594x274:595x275)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/95/db/95db799b-fddf-4fde-91f3-77024442b92d/egypt_kitty_social.jpg"
        />

        <div class="space-x-5">
            <a href=""><i class="fa-regular fa-heart text-2xl" ></i></a>
            <a href=""><i class="fa-regular fa-comment text-2xl" ></i></a>
            <a href=""><i class="fa-solid fa-share-nodes text-2xl" ></i></a>
        </div>
  
        <b class=" text-sm">{{100}} likes</b>
        
        <b class="w-[468px] text-sm block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eos est inventore nemo vitae iusto repellendus optio corrupti itaque ducimus, ratione perspiciatis corporis. Suscipit perspiciatis fuga nobis ullam hic perferendis!... <a href="#" class="text-gray-500">more</a></b>
     
        <hr class="!my-4 !mx-1 border-[#262626]"/>

    </div>
    

    <div class="space-y-2">
        <div class="flex items-center space-x-5">
            <img 
                class="w-12 h-12 rounded-full"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                alt=""
            >
            <b>{{username}}</b>
        </div>

        <img 
            class="w-[468px] h-[585px] !my-5 bg-slate-200 rounded-sm"
            src="https://th-thumbnailer.cdn-si-edu.com/3RQHyIdF6cCdAPoVL1NOZzyMCxY=/1000x750/filters:no_upscale():focal(594x274:595x275)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/95/db/95db799b-fddf-4fde-91f3-77024442b92d/egypt_kitty_social.jpg"
        />

        <div class="space-x-5">
            <a href=""><i class="fa-regular fa-heart text-2xl" ></i></a>
            <a href=""><i class="fa-regular fa-comment text-2xl" ></i></a>
            <a href=""><i class="fa-solid fa-share-nodes text-2xl" ></i></a>
        </div>
  
        <b class=" text-sm">{{100}} likes</b>
        
        <b class="w-[468px] text-sm block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eos est inventore nemo vitae iusto repellendus optio corrupti itaque ducimus, ratione perspiciatis corporis. Suscipit perspiciatis fuga nobis ullam hic perferendis!... <a href="#" class="text-gray-500">more</a></b>
     
        <hr class="!my-4 !mx-1 border-[#262626]"/>

    </div>
    

    <div class="space-y-2">
        <div class="flex items-center space-x-5">
            <img 
                class="w-12 h-12 rounded-full"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                alt=""
            >
            <b>{{username}}</b>
        </div>

        <img 
            class="w-[468px] h-[585px] !my-5 bg-slate-200 rounded-sm"
            src="https://th-thumbnailer.cdn-si-edu.com/3RQHyIdF6cCdAPoVL1NOZzyMCxY=/1000x750/filters:no_upscale():focal(594x274:595x275)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/95/db/95db799b-fddf-4fde-91f3-77024442b92d/egypt_kitty_social.jpg"
        />

        <div class="space-x-5">
            <a href=""><i class="fa-regular fa-heart text-2xl" ></i></a>
            <a href=""><i class="fa-regular fa-comment text-2xl" ></i></a>
            <a href=""><i class="fa-solid fa-share-nodes text-2xl" ></i></a>
        </div>
  
        <b class=" text-sm">{{100}} likes</b>
        
        <b class="w-[468px] text-sm block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eos est inventore nemo vitae iusto repellendus optio corrupti itaque ducimus, ratione perspiciatis corporis. Suscipit perspiciatis fuga nobis ullam hic perferendis!... <a href="#" class="text-gray-500">more</a></b>
     
        <hr class="!my-4 !mx-1 border-[#262626]"/>

    </div>
    



</div>


{% comment %}  {% endcomment %}

<div class="w-[30%] h-screen py-5 px-10 space-y-10 ">
    <div class="w-full p-2 flex justify-between items-center"> 
        <div class="flex items-center space-x-5">
            <img 
                class="w-12 h-12 rounded-full"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                alt=""
            >

            <div class="text-sm">
                <b>{{username}}</b>
                <p class="text-gray-500">Current logged in as</p>
            </div>
        </div>

        <a href="{% url 'logout' %}" class="h-fit mr-10 py-2 px-3 bg-red-500 rounded-md">Logout</a>
    </div>


  {% comment %}
  https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg
  {% endcomment %}

  <div class="space-y-5">
    <h1 class="text-2xl">Suggestions</h1>
   
    <div class="w-full h-full space-y-5 bg-black">

        <div class="w-full p-2 flex justify-between items-center"> 
            <div class="flex items-center space-x-5">
                <img 
                    class="w-12 h-12 rounded-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                    alt=""
                >

                <div class="text-sm">

                    <b>Username</b>
                    <p class="text-gray-500">Suggested for you</p>
                </div>
            </div>

            <a href="" class="h-fit mx-3 py-1 px-2 text-sm bg-blue-500 rounded-md">Follow</a>
        </div>
   

        <div class="w-full p-2 flex justify-between items-center"> 
            <div class="flex items-center space-x-5">
                <img 
                    class="w-12 h-12 rounded-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                    alt=""
                >

                <div class="text-sm">

                    <b>Username</b>
                    <p class="text-gray-500">Suggested for you</p>
                </div>
            </div>

            <a href="" class="h-fit mx-3 py-1 px-2 text-sm bg-blue-500 rounded-md">Follow</a>
        </div>
   

        <div class="w-full p-2 flex justify-between items-center"> 
            <div class="flex items-center space-x-5">
                <img 
                    class="w-12 h-12 rounded-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                    alt=""
                >

                <div class="text-sm">

                    <b>Username</b>
                    <p class="text-gray-500">Suggested for you</p>
                </div>
            </div>

            <a href="" class="h-fit mx-3 py-1 px-2 text-sm bg-blue-500 rounded-md">Follow</a>
        </div>
   

        <div class="w-full p-2 flex justify-between items-center"> 
            <div class="flex items-center space-x-5">
                <img 
                    class="w-12 h-12 rounded-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                    alt=""
                >

                <div class="text-sm">

                    <b>Username</b>
                    <p class="text-gray-500">Suggested for you</p>
                </div>
            </div>

            <a href="" class="h-fit mx-3 py-1 px-2 text-sm bg-blue-500 rounded-md">Follow</a>
        </div>
   

        <div class="w-full p-2 flex justify-between items-center"> 
            <div class="flex items-center space-x-5">
                <img 
                    class="w-12 h-12 rounded-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" 
                    alt=""
                >

                <div class="text-sm">

                    <b>Username</b>
                    <p class="text-gray-500">Suggested for you</p>
                </div>
            </div>

            <a href="" class="h-fit mx-3 py-1 px-2 text-sm bg-blue-500 rounded-md">Follow</a>
        </div>
   
    </div>

  </div>
</div>

{% endblock body %}