{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"
    integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    const path = window.location.pathname;
    
    async function getRoomIds(params) {
        let roomIds = await fetch("{% url 'get_room_ids' %}");
        roomIds = await roomIds.json();
        return roomIds.data;
    }

    async function check_notifications() {

        let res = await fetch("{% url 'notifications' %}");
        res = await res.json();
        let is_notification = false;
      
        if (res.status === 200 && !path.includes('lobby')) {
            const data = res.data.filter((e) => e.is_notification === true);
            if (data.length) {
                const chat_notification = document.getElementById('chat_notification');
                const chat_widget_notification = document.getElementById('chat_widget_notification');
                is_notification = true;

                if (chat_notification && chat_widget_notification) {
                    chat_notification.style.display = 'block';
                    chat_widget_notification.style.display = 'block';

                    if (data.length < 9) {
                        chat_notification.innerText = data.length;
                        chat_widget_notification.innerText = data.length;
                    }
                    else {
                        chat_notification.innerHTML = '9<sup>+</sup>';
                        chat_widget_notification.innerHTML = '9<sup>+</sup>';
                    }
                }
            }
        }

        if (path.includes('lobby')) {
            await fetch("{% url 'clear_notifications' %}");
        }
        res.is_notification = is_notification
        return res;

    }

    
    window.onload = async () => {
        await check_notifications();
    };

    const socket = io(`ws://${window.location.hostname}:3000`, { query: { username: '{{user.username}}' }});

    socket.on('connect', async ()=>{
        socket.emit('join_rooms', await getRoomIds());
    });

    socket.on('notifications', async(data) => {
        const { roomId , userId} = data;
            
        if (roomId) {
            if (!'{{room_id}}' || '{{room_id}}' !== roomId) {

                let notifications_data = await check_notifications();

                if (notifications_data.is_notification) {
                    try {
                        const notification_audio = new Audio("{% static 'audio/Notification.mp3' %}");
                        await notification_audio.play();
                    } catch (error) {
                        // Do nothing
                    }
                }

                notifications_data = notifications_data.data || [];

                notifications_data.forEach((data) => {
                    const notifications = document.getElementById(data.room_id + '_notifications');
                    const last_message = document.getElementById(data.room_id + '_last_message');

                    if (notifications) {
                        if (data.num_of_notifications > 0 && data.last_message) {
                            notifications.style.display = 'block';
                            if (data.num_of_notifications < 9) {
                                notifications.innerText = data.num_of_notifications;
                                last_message.innerText = data.last_message;
                            }
                            else {
                                notifications.innerHTML = '9<sup>+</sup>';
                                last_message.innerHTML = data.last_message;
                            }
                        }
                    }

                });

            }
        }

        if (userId === '{{user.id}}' + socket.id) {
            await check_notifications();
            try {
                const notification_audio = new Audio("{% static 'audio/Notification.mp3' %}");
                await notification_audio.play();
            } catch (error) {
                // Do nothing
            }
        }
            
    });

</script>