{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll | {{data.added_by}}</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

</head>
<body class="w-full h-fit py-16 space-y-10 flex flex-col items-center bg-black text-white">
    
    <div class="max-w-[466px] space-y-2">
        <a href="{{data.added_by_url}}">
            <div class="flex items-center space-x-5">
                <img 
                    class="w-12 h-12 rounded-full object-cover"
                    {% if data.added_by_profile.exist %}
                    src="/uploads/{{data.added_by_profile.file}}" 
                    {% else %}
                        src="/static/{{data.added_by_profile.file}}"
                    {% endif %}
                    alt=""
                >
                <b>{{data.added_by}}</b>
            </div>
        </a>
        

        <img 
            class="w-[468px] h-[585px] !my-5 bg-slate-200 rounded-sm border border-[#262626] object-center"
            src="/uploads/{{data.file}}"
        />

        <div class="space-x-5 flex select-none">
            {% if data.is_liked %}
                <div class="cursor-pointer" id="{{data.post_id}}" onclick="handelLikes(this)">
                    <i class="fa-solid fa-heart text-2xl text-red-500 pointer-events-none"></i>
                </div>
            {% else %}
                <div class="cursor-pointer" id="{{data.post_id}}" onclick="handelLikes(this)">
                    <i class="fa-regular fa-heart text-2xl pointer-events-none"></i>
                </div>
            {% endif %}

            <i class="fa-regular fa-comment text-2xl cursor-pointer" onclick="handelComment('comment_box_{{data.post_id}}')"></i>

            <i class="fa-solid fa-share-nodes text-2xl cursor-pointer" id="/posts/{{data.post_id}}" onclick="copyLink(this)"></i>
            <p class="hidden text-green-400" id="message/posts/{{data.post_id}}">Link copied to clipboard</p>
        </div>
  
        <b class="text-sm" id="post_likes_{{data.post_id}}">{{data.num_of_likes}} likes</b>
        
        <b class="w-[468px] text-sm block">{{data.bio}}</b>

        
        <form class="hidden space-x-2" id="comment_box_{{data.post_id}}" onsubmit="handelCommentSubmit(event,'{{data.post_id}}')">
            {% csrf_token %}
            <input type="text" name="post_id" value="{{data.post_id}}" class="hidden" required>
            <textarea name="comment" id="" rows="1" class="w-full py-1 px-2 bg-transparent border rounded-sm focus:outline-0" required></textarea>
            <input type="submit" value="Comment" class="w-[20%] h-[35px] self-end bg-white text-black text-sm py-1 rounded-sm cursor-pointer hover:opacity-90">
        </form>

        <p class="hidden text-green-500 text-sm" id="comment_message_{{data.post_id}}">Comment added successfully</p>

        <hr class="!my-4 !mx-1 border-[#262626]"/>

        <div class="space-y-3">
            
            {% for comment in comment_data %}
            
                <div class="w-full p-2 flex justify-between items-center">
                    <div class="flex items-center space-x-5">
                        <img class="w-10 h-10 self-start rounded-full object-cover border border-[#262626]" 
                            {% if comment.added_by_profile.exist %}
                                src="/uploads/{{comment.added_by_profile.file}}" 
                            {% else %}
                                src="/static/{{comment.added_by_profile.file}}" 
                            {% endif %}
                            alt=""
                        >

                        <div class="w-full text-sm break-words">
                            <b>{{comment.added_by}}</b>
                            <p class="text-sm">{{comment.comment}}</p>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
            
            
        </div>
            
    </div>



<script>

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function copyLink(e) {
        navigator.clipboard.writeText(window.location.origin + e.id);
        document.getElementById('message' + e.id).style.display = 'inline';

        setTimeout(function () {
            document.getElementById('message' + e.id).style.display = 'none';
        }, 1000);
    }

    async function handelLikes(e) {

        try {
            let res = await fetch('{% url "likes" %}', {
                method: 'POST',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Content-Type": 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    "post_id": e.id,
                })

            });
            res = await res.json();

            const post_likes = document.getElementById('post_likes_' + e.id);
            if (res.is_liked == true) {
                e.innerHTML = '<i class="fa-solid fa-heart text-2xl text-red-500 pointer-events-none"></i>';
                post_likes.innerText = res.current_likes + ' likes';
            }
            else {
                e.innerHTML = '<i class="fa-regular fa-heart text-2xl pointer-events-none"></i>';
                post_likes.innerText = res.current_likes + ' likes';
            }
        } catch (error) {
            console.log(error);
        }

    }

    
    function handelComment(id){
        const comment_box = document.getElementById(id);
        if (comment_box.style.display !== 'flex') {
            comment_box.style.display = 'flex';
            comment_box.children[2].focus();
        }
        else{
            comment_box.style.display = 'none';
        }
    }

    async function handelCommentSubmit(e,id){
        e.preventDefault();
        const element = e.target;

        if (element.children[2].value != '') {
            try {
                let res = await fetch('{% url "comments" %}', {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Content-Type": 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        "post_id": id,
                        "comment": element.children[2].value,
                    })

                });
                res = await res.json();

                if (res.status === 200) {
                    const comment_message = document.getElementById('comment_message_' + id);
                    element.style.display = 'none';
                    comment_message.style.display = 'block';
                    setTimeout(() => {
                        comment_message.style.display = 'none';
                    }, 1000);
                }
            } catch (error) {
                console.log(error);
            }
        }
    }

</script>

    <script src="{% static 'js/tailwindcdn.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

</body>
</html>