{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>

    {% include "components/Favicons.html" %}
    
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />


    {% block links %} {% endblock links %}
  </head>

  <body class="w-full h-full flex bg-black relative">
    <div 
        class="w-[18%] h-screen py-10 px-8 flex flex-col border-r border-[#262626] text-[#f5f5f5] fixed max-xl:w-[10%] max-xl:px-0max-xl:px-0     max-xl:items-center max-md:hidden"
    >
      {% include "components/SideBar.html" %}
    </div>

    {% include "components/WidgetBar.html" %}

    <div class="w-[82%] h-fit flex text-white absolute right-0 max-xl:w-[90%] max-md:w-full">    
      {% block body %} 
      
      {% endblock body %}
    </div>

    {% comment %} <script src="{% static 'js/tailwindcdn.js' %}"></script> {% endcomment %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% block scripts %} {% endblock scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"
        integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- To get notifications data -->
    <script type="module">

      async function check_notifications() {
        
        let res = await fetch("{% url 'notifications' %}");
        res = await res.json();
        const path = window.location.pathname;

        if (res.status === 200 && !path.includes('lobby')) {
          const data = res.data.filter((e)=> e.is_notification === true);
          if (data.length) {
            chat_notification.style.display = 'block';
            chat_widget_notification.style.display = 'block';

            if (data.length < 9) {
              chat_notification.innerText = data.length;
              chat_widget_notification.innerText = data.length;
            }
            else {
              chat_notification.innerHTML = '9<sup>+</sup>';
              chat_widget_notification.innerHTML = '9<sup>+</sup>';
            }
          }
        }

        if (path.includes('lobby')) {
          await fetch("{% url 'clear_notifications' %}");
        }

        return res;

      }


      let roomIds = await fetch("{% url 'get_room_ids' %}");
      roomIds = await roomIds.json();

      const socket = io('ws://192.168.100.5:3000', { query: { roomIds: JSON.stringify(roomIds.data), username: '{{user.username}}' } });
      const chat_notification = document.getElementById('chat_notification');
      const chat_widget_notification = document.getElementById('chat_widget_notification');
      
      window.onload = await check_notifications();

      socket.on('notifications', async(data) => {
          const { username } = data;

            if (username !== "{{user.username}}") {
                await setTimeout(async function() {
                  let notifications_data =  await check_notifications();
                  notifications_data =  notifications_data.data || [];

                  notifications_data.forEach((data)=>{
                    const notifications = document.getElementById(data.room_id + '_notifications');
                    const last_message = document.getElementById(data.room_id + '_last_message');
                
                    if (notifications) {
                      if (data.num_of_notifications > 0 && data.last_message) {
                        notifications.style.display = 'block';
                        if (data.num_of_notifications < 9) {
                          notifications.innerText = data.num_of_notifications;
                          last_message.innerText = data.last_message;
                        }
                        else {
                          notifications.innerHTML = '9<sup>+</sup>';
                          last_message.innerHTML = data.last_message;
                        }
                      }
                    }
                   
                  });

                }, 100);
            }

      });

    </script>

  </body>
</html>
