{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>

    {% include "components/Favicons.html" %}
    
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />


    {% block links %} {% endblock links %}
  </head>

  <body class="w-full h-full flex bg-black relative">
    <div 
        class="w-[18%] h-screen py-10 px-8 flex flex-col border-r border-[#262626] text-[#f5f5f5] fixed max-xl:w-[10%] max-xl:px-0max-xl:px-0     max-xl:items-center max-md:hidden"
    >
      {% include "components/SideBar.html" %}
    </div>

    {% include "components/WidgetBar.html" %}

    <div class="w-[82%] h-fit flex text-white absolute right-0 max-xl:w-[90%] max-md:w-full">    
      {% block body %} 
      
      {% endblock body %}
    </div>

    {% comment %} <script src="{% static 'js/tailwindcdn.js' %}"></script> {% endcomment %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    
    {% include "components/Socket.html" %}

    {% block scripts %} {% endblock scripts %}
    
    
  </body>
</html>
